
<div class="container" > 
  <mat-card class="card1">
    
 <h1 class="mat-display-1">Login</h1>
  <form method="POST" [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form">

    <mat-form-field floatLabel="never" class="form-element">
      <input type="text" matInput placeholder="Username" formControlName="username" [(ngModel)]="user.userId">
      <mat-error *ngIf="formGroup.controls['username'].invalid">
        {{getError('user')}}
      </mat-error>
    </mat-form-field>

    <mat-form-field floatLabel="never" class="form-element">
      <input type="password" matInput placeholder="Password" formControlName="password" [(ngModel)]="user.password">
      <mat-error *ngIf="!formGroup.controls['password'].valid">
        {{getError('pass')}}
      </mat-error>
    </mat-form-field>

    <div class="form-element">
      <button mat-raised-button matTooltip="Login here "color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Sign In</button>
      <a class="url" href="https://www.google.com" >create account</a>
  
    </div>

  </form>
  
  </mat-card>
</div>
<!-- 
<form method="POST" (ngSubmit)="onSubmit()">
  <label>Name</label>
  <input type="text" name="name" [(ngModel)]="user.userId">
  <label>Password</label>
  <input type="text" name="password" [(ngModel)]="user.password">
  <button class="btn-btnprimary">Submit Data</button>
    </form> -->
