<form method="POST" (ngSubmit)="onSubmit()">
        <label>cname</label>
        <input type="text" name="name" [(ngModel)]="customer.cname">

        <label>phoneno</label>
        <input type="text" name="name" [(ngModel)]="customer.phoneno">

        <label>mailid</label>
        <input type="text" name="name" [(ngModel)]="customer.mailid">

        <label>address</label>
        <input type="text" name="name" [(ngModel)]="customer.address">

        <label>adharno</label>
        <input type="text" name="name" [(ngModel)]="customer.adharno">

        <label>uid</label>
        <input type="number" name="name" [(ngModel)]="customer.uid">

        <button class="btn-btnprimary">Submit Data</button>
          </form>